


[type=text], [type=email], [type=url], [type=password], [type=number], [type=date], [type=datetime-local], [type=month], [type=search], [type=tel], [type=time], [type=week], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

.overflow-hidden {
    overflow: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
}

.justify-center {
    justify-content: center;
}

.min-h-screen {
    min-height: 100vh;
}

img, video {
    max-width: 100%;
    height: auto;
}

.md\:block {
    display: block;
}

.justify-center {
    justify-content: center;
}


.w-12 {
    width: 3rem;
}
.mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.w-16 {
    width: 4rem;
}


.h-16 {
    height: 4rem;
}

.h-12 {
    height: 3rem;
}
.w-12 {
    height: 3rem;
}


.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}


.sm\:pt-0 {
    padding-top: 0;
}

.sm\:justify-center {
    justify-content: center;
}

.sm\:rounded-lg {
    border-radius: 0.5rem;
}

.sm\:max-w-md {
    max-width: 28rem;
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .2), 0 2px 4px -2px rgb(0 0 0 / .2);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.font-medium {
    font-weight: 500;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.block {
    display: block;
}

.w-full {
    width: 100%;
}


@media (max-width: 992px) {
  
}

@media (max-width: 767px) {
	
	.md\:block {
		display: block;
	}
}


@media (max-width: 640px) {
	.sm\:pt-0 {
        padding-top: 0;
    }

	.sm\:justify-center {
        justify-content: center;
    }

    .sm\:rounded-lg {
        border-radius: 0.5rem;
    }

    .sm\:max-w-md {
        max-width: 28rem;
    }

    

    
}
